@model List<AllQuotesViewModel> 
@{
    ViewData["Tatle"] = "All Person Quotes and sources for them";
}

<h1>
    @ViewData["Title"]
</h1>

<h6></h6>

@foreach (var quotes in Model)
{
    <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@quotes.Description</p>
                <footer class="blockquote-footer">@quotes.AuthorName<cite title="Source Title:">@quotes.Sources</cite></footer>
            </blockquote>
            <div class="text-muted large ml-3">
                <div>
                    <a href="#" onclick="sendVote(@quotes.QuoteId,true)">
                        <i class="fa fa-thumbs-up"></i>
                    </a>
                    
                </div>
                   <div  id="votesTotal">@quotes.VotesCount</div>
                <div>

                    <a href="#" onclick="sendVote(@quotes.QuoteId,false)"><i class="fa fa-thumbs-down"></i></a>
                </div>
            </div>
        </div>
    </div>
}


<script>
 
        function sendVote(quoteId,isUpVote) {

            var json = { quoteId: quoteId, isUpVote:isUpVote};
            console.log(json);
            $.ajax({
                url: "/api/Vote",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                  
                    $.ajax("#votesTotal").html(data.VotesCount);
                }

            });

        }

</script>
    
   



@* 
<script>

    function upVote(quoteId) {

        var json = { quotesId: quotesId, IsUpVote: true };
        console.log(json);
        $.ajax({
            url: "/api/QuoteVot",
            type: "POST",
            data: json,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {

            }
        });
    
    }

    function downVote(quotesId) 
    {
        var json = { quotesId: quotesId, IsUpVote:false};
        console.log(json);
        $.ajax({
            url:"/api/QuoteVot",
            type:"POST",
            data: json,
            contentType:"application/json;charset=utf-8",
            dataType:"json",
            success: function ()             
            {
                
            }
        });
    }

</script> *@

