@using QuotesWebApp.Service
@model List<AllAuthorViewModel>
@inject RatingService rating

@{
    ViewData["Title"] = "All Author";
}
<head>
    <style>
        .ratings {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            direction: rtl;
            text-align: left;
        }

        .star {
            position: relative;
            line-height: 50px;/*60px*/
            display: inline-block;
            transition: color 0.2s ease;
            color: #ebebeb;
        }

            .star:before {
                content: '\2605';
                width: 50px;/*60px*/
                height: 50px;/*60px*/
                font-size: 50px;/*60px*/
            }

            .star:hover,
            .star.selected,
            .star:hover ~ .star,
            .star.selected ~ .star {
                transition: color 0.8s ease;
                color: black;
            }
    </style>
</head>

<h1>
    @ViewData["Title"];
</h1>

@if (Model.Any())
{   foreach (var author in Model)
    {
        
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@author.Name</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@author.Category</h6>
                <p class="card-text">@author.YearsFromTo</p>



                <div class="star-rating" data-rating="@rating.GetRating(author.Id)">
                    <ul class="ratings">
                        <li class="star" onclick="sendRating(@author.Id,5)"></li>
                        <li class="star" onclick="sendRating(@author.Id,4)"></li>
                        <li class="star" onclick="sendRating(@author.Id,3)"></li>
                        <li class="star" onclick="sendRating(@author.Id,2)"></li>
                        <li class="star" onclick="sendRating(@author.Id,1)"></li>
                    </ul>
                </div>
                <div id="currentRating">@rating.GetRating(author.Id)</div>


                <form asp-action="CreateQuotes" asp-controller="Quotes" asp-route-autorId="@author.Id" method="get">
                    <input type="hidden" name="authorId" value="@author.Id" />
                    <button type="submit" class="btn btn-sm">Create Quotes</button>
                </form>

                <form asp-controller="Quotes" asp-action="AllQuotes" asp-route-ahtorId="@author.Id" method="get" >

                    <input type="hidden" name="authorId" value="@author.Id"/>
                    <button type="submit" class="btn btn-sm btn-warning">View All Quotes</button>
                </form>
            </div>
        </div>
    }
  
}

<script>


    function sendRating(authorId, starValue) {

        var json = { authorId: authorId, starValue: starValue };
       
        console.log(json);
        $.ajax({
            url: "/api/Rating",
            type: "POST",
            data: JSON.stringify(json),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function () {

                @*    $("#currentRating").html(Rating:d.sendRating) *@

                    @*     $("#currentRating").html(RatingResult: data.GetRating(authorId))   *@
                    window.location.reload()

            }

        });

    }
    function setRating(ratingValue) {
        // Закръглете рейтинга до най-близкото половин число
        const roundedRating = (Math.round(ratingValue * 2) / 2).toFixed(1);
        const stars = document.querySelectorAll('.star-rating .star');

        // Задайте пълноцветни звезди
        stars.forEach((star, index) => {
            star.style.color = index < Math.floor(roundedRating) ? 'gold' : '#ebebeb';
        });

        // Задайте половинка звезда ако е необходимо
        if (roundedRating % 1 >= 0.5) {
            stars[Math.floor(roundedRating)].style.background = 'linear-gradient(90deg, gold 50%, #ebebeb 50%)';
        }
    }
  @*   $(function () {
        var star = '.star',
            selected = '.selected';

        $(star).on('click', function () {
            $(selected).each(function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
        });

    }); *@
</script>


